<header>
  <h1>Service Log Manager</h1>
  <nav>
    <ul>
      <li><a href>Home</a></li>
      <li><a href>Precios</a></li>
      <li><a href>Signin</a></li>
      <li><a href>Login</a></li>
    </ul>
  </nav>
</header>
<section>
  <div class="heroPanel">
    <h2>Service Log Made Easy</h2>
    <a class="bigBtn">Buy Now</a>
  </div>
</section>
<footer>
  Derechos Reserevados UNICAH Seminario de Software 2018 Tercero
</footer>